/* Foodie farmer styles */

.recommend-items figure,
.group-purchase figure,
.produce-items figure,
.group-items figure,
.shop-single figure,
.shop-group figure,
.featured-items figure {
    background-position: center;
    background-size: cover;
    padding-top: 66%;
}

.recommend-items figure {
    padding-top: 80%;
}

.pages li {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    transition: .3s all ease;
    user-select: none;
}

.pages li.active {
    background: #7971ea;
    color: #fff;
    border: 1px solid transparent;
}

.pages li:hover {
    color: #3a2ee0;
}

.hidden-item {
    display: none;
}